In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

ser1 = Series([1,2,3,4])
print(ser1)
print(ser1[0:2])
print(ser1[[0,1,2]])

0    1
1    2
2    3
3    4
dtype: int64
0    1
1    2
dtype: int64
0    1
1    2
2    3
dtype: int64

In [2]:
sdata = {'python' : 1,  'pandas' : 2,  'matplotlib' : 3,  'numpy' : 4,  'scipy' : 5}
ser2 = Series(sdata)
print(ser2)
print(sdata.keys())
print(sdata.items())
print(sdata.values())
'python' in sdata.keys()

matplotlib    3
numpy         4
pandas        2
python        1
scipy         5
dtype: int64
dict_keys(['scipy', 'pandas', 'matplotlib', 'python', 'numpy'])
dict_items([('scipy', 5), ('pandas', 2), ('matplotlib', 3), ('python', 1), ('numpy', 4)])
dict_values([5, 2, 3, 1, 4])

True

In [3]:
ser3 = Series(sdata, index = ['apple', 'python', 'numpy', 'jupyter', 'scipy'])
print(ser3)
print('index:', ser3.index)
print('value:', ser3.values)
print(ser3[0:2])
print(ser3['apple':'numpy'])
print(ser3[['apple', 'numpy']])
ser3.name = 'try'
print(ser3)

apple      NaN
python     1.0
numpy      4.0
jupyter    NaN
scipy      5.0
dtype: float64
index: Index(['apple', 'python', 'numpy', 'jupyter', 'scipy'], dtype='object')
value: [ nan   1.   4.  nan   5.]
apple     NaN
python    1.0
dtype: float64
apple     NaN
python    1.0
numpy     4.0
dtype: float64
apple    NaN
numpy    4.0
dtype: float64
apple      NaN
python     1.0
numpy      4.0
jupyter    NaN
scipy      5.0
Name: try, dtype: float64

In [4]:
data = {'packages':['pandas', 'numpy', 'matplotlib', 'pandas', 'pandas'],
        'id':[1, 2, 3, 4, 5],
        'num':[1.2, 3.4, 4, 5.6, 7.0]}
frame = DataFrame(data)
#DataFrame(data, columns=['id', 'num', 'packages'], index = ['A', 'B', 'C', 'D', 'E'])
#frame.sort_values('num', ascending = False)
#print(frame)
#print(frame[['id','num']])
#print(frame.loc[0:3,:])
#print(frame.loc[frame.id<4,:])
#print(type(frame.id))
#print(type(frame.loc[:,'id']))
frame.describe

<bound method NDFrame.describe of    id  num    packages
0   1  1.2      pandas
1   2  3.4       numpy
2   3  4.0  matplotlib
3   4  5.6      pandas
4   5  7.0      pandas>

In [5]:
data = DataFrame(np.arange(16).reshape(4,4))
data[(data/2-1)%3==0] = np.nan
print(data)

#丢弃na
print(data.dropna())
print(data.dropna(how = 'all'))
print(data.dropna(axis = 1))

#填充na
print(data.fillna(0))
print(data.fillna({0:1, 2:10}))
print(data.fillna(method = 'bfill', limit = 1))
print(data.fillna(method = 'ffill', limit = 1))

      0   1     2   3
0   0.0   1   NaN   3
1   4.0   5   6.0   7
2   NaN   9  10.0  11
3  12.0  13   NaN  15
     0  1    2  3
1  4.0  5  6.0  7
      0   1     2   3
0   0.0   1   NaN   3
1   4.0   5   6.0   7
2   NaN   9  10.0  11
3  12.0  13   NaN  15
    1   3
0   1   3
1   5   7
2   9  11
3  13  15
      0   1     2   3
0   0.0   1   0.0   3
1   4.0   5   6.0   7
2   0.0   9  10.0  11
3  12.0  13   0.0  15
      0   1     2   3
0   0.0   1  10.0   3
1   4.0   5   6.0   7
2   1.0   9  10.0  11
3  12.0  13  10.0  15
      0   1     2   3
0   0.0   1   6.0   3
1   4.0   5   6.0   7
2  12.0   9  10.0  11
3  12.0  13   NaN  15
      0   1     2   3
0   0.0   1   NaN   3
1   4.0   5   6.0   7
2   4.0   9  10.0  11
3  12.0  13  10.0  15

In [6]:
frame = DataFrame(np.arange(16).reshape(4,4), 
                 index = [['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                 columns = [['pandas', 'pandas', 'numpy', 'numpy'],
                           ['Series', 'DataFrame', 'array', 'array']])
print(frame)
print(frame['numpy'])
print(frame.loc[:,'numpy'].loc[:,'array'])
print(frame.unstack()) #关于索引展开

    pandas           numpy
    Series DataFrame array array
a 1      0         1     2     3
  2      4         5     6     7
b 1      8         9    10    11
  2     12        13    14    15
     array  array
a 1      2      3
  2      6      7
b 1     10     11
  2     14     15
     array  array
a 1      2      3
  2      6      7
b 1     10     11
  2     14     15
  pandas                   numpy
  Series     DataFrame     array
       1   2         1   2     1   2   1   2
a      0   4         1   5     2   6   3   7
b      8  12         9  13    10  14  11  15

In [7]:
df = DataFrame({'key':['b', 'b', 'a', 'c', 'a', 'b'], 'data1':range(6)})
dummies = pd.get_dummies(df['key'], prefix = 'key')
df_with_dummy = df[['data1']].join(dummies)
#print(df_with_dummy)

# 结合使用dummy和cut
df = DataFrame({'name':['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], 'score':np.arange(10)})
#print(df)
dummies = pd.get_dummies(pd.cut(df['score'], [0, 3, 6, 10]))
df_with_dummy = df[['name']].join(dummies)
print(df_with_dummy)

  name  (0, 3]  (3, 6]  (6, 10]
0    a     0.0     0.0      0.0
1    b     1.0     0.0      0.0
2    c     1.0     0.0      0.0
3    d     1.0     0.0      0.0
4    e     0.0     1.0      0.0
5    f     0.0     1.0      0.0
6    g     0.0     1.0      0.0
7    h     0.0     0.0      1.0
8    i     0.0     0.0      1.0
9    j     0.0     0.0      1.0

In [8]:
# 数据框一个单元格放置列表

df = DataFrame({'key1':['a','a','b','b','a'],
                'key2':['one','two','one','two','one'],
                'data1':np.random.randn(5),
                'data2':np.random.randn(5)})
df.set_value(0, 'key1', ['a', 'b'])
print(df)

      data1     data2    key1 key2
0  0.521389 -0.864494  [a, b]  one
1  1.916792 -0.498713       a  two
2 -3.459858  0.361176       b  one
3  0.251471  2.285635       b  two
4 -2.003386 -0.072662       a  one

In [19]:
# groupby对数据进行分组

df = DataFrame({'key1':['a','a','b','b','a'],
                'key2':['one','two','one','two','one'],
                'data1':np.random.randn(5),
                'data2':np.random.randn(5)})

df['data1'].groupby(df['key1']).mean()
df['data1'].groupby([df['key1'], df['key2']]).min()

# 语法糖

df.groupby('key1')[['data1']].max()
df.groupby(['key1', 'key2'])[['data1']].count()

# 函数： min, max, sum, mean, count, size

           data1
key1 key2
a    one       2
     two       1
b    one       1
     two       1

In [24]:
df = DataFrame({'key1':['a','a','b','b','a'],
                'key2':['one','two','one','two','one'],
                'data1':np.random.randn(5),
                'data2':np.random.randn(5)})

for name,group in df.groupby('key1'):
    print(name)
    print(group)
    
for (key1, key2),group in df.groupby(['key1', 'key2']):
    print(key1, key2)
    print(group)

a
      data1     data2 key1 key2
0  0.016053 -0.176317    a  one
1 -1.449315 -1.251556    a  two
4  0.698527 -1.089998    a  one
b
      data1     data2 key1 key2
2 -0.268941 -1.029171    b  one
3 -0.131843 -0.574211    b  two
a one
      data1     data2 key1 key2
0  0.016053 -0.176317    a  one
4  0.698527 -1.089998    a  one
a two
      data1     data2 key1 key2
1 -1.449315 -1.251556    a  two
b one
      data1     data2 key1 key2
2 -0.268941 -1.029171    b  one
b two
      data1     data2 key1 key2
3 -0.131843 -0.574211    b  two

In [31]:
# 对列进行分组

people = DataFrame(np.random.randn(5,5),
                   columns = ['a','b','c','d','e'],
                   index = ['Joe','Steve','Wes','Jim','Travis'])

people.loc[2:3,['b','c']] = np.nan
#print(people)
mapping = {'a':'red','b':'red','c':'blue',
           'd':'blue','e':'red','f':'orange'}
people.groupby(mapping, axis=1).sum()
people.groupby(len).sum()

key_list = ['one','one','one','two','two']
people.groupby([len, key_list]).sum()

              a         b         c         d         e
3 one -0.097631 -0.003656 -0.217957  2.411208 -2.155178
  two -1.295646 -0.462536 -1.603021  1.041556  0.256788
5 one -0.748078  1.125218 -1.040618 -0.818159 -1.483245
6 two -1.179993  1.292286 -0.648594  0.468255  0.010092

In [43]:
# 分层索引的聚合

# 方法1：

columns = pd.MultiIndex.from_arrays([['US', 'US', 'US', 'CN', 'CN'],[1,3,5,1,3]],names=['cty','tenor'])
hier_df = DataFrame(np.random.randn(4,5), columns = columns)

# 方法2：

hier_df = DataFrame(np.random.randn(4,5), columns = [['US','US','US','CN','CN'],[1,3,5,1,3]])
hier_df.columns.names = ['city', 'tenor']
#hier_df.index.names = ['name1', 'name2]
print(hier_df)

hier_df.groupby(level='city',axis=1).count()

city         US                            CN
tenor         1         3         5         1         3
0     -0.369872  0.353585 -1.461543  1.389780 -0.350232
1     -2.174253 -1.505016  0.552344 -1.752237 -0.179568
2      1.080943 -0.275503 -0.375357  0.727896 -0.027099
3      0.453007  0.530872 -0.638098  0.680160  0.870310

city  CN  US
0      2   3
1      2   3
2      2   3
3      2   3